.about {
  height: auto;
  background-image: linear-gradient(
    to right,
    #9c9e9f00 0%,
    #9c9e9f00 50%,
    #e7e7e7 50%,
    #e7e7e7 100%
  );
}

.wrapper.about {
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  @include tablet-port {
    // 960
    flex-direction: column;
  }
}

.about article,
.about aside {
  height: auto;
  width: 50%;
  @include tablet-port {
    // 960
    width: 100%;
  }
}

.about aside {
  background-image: url(../assets/about/about.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: $grey2;
  @include tablet-port {
    // 960
    height: 500px;
    background-position: center;
  }
}

.about article {
  background-color: white;
  padding-right: 40px;
  display: flex;
  @include tablet-port {
    // 960
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .aboutTitle {
    min-width: 100%;
    padding: 40px;
    @include tablet-land {
      // 1250
      padding-left: 0;
    }
    @include tablet-port {
      // 960
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
    h2 {
      @include Ossie(5rem, normal, $font, normal, normal, center);
      text-transform: uppercase;
    }
  }
}

.wrapper.aboutContent {
  max-width: 800px;
  padding-left: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  @include tablet-port {
    // 960
    max-width: 100%;
    margin: 0;
    padding: 60px 80px 80px 80px;
  }
}

.aboutQuality,
.aboutDocs,
.aboutTeam {
  height: auto;
  width: 100%;
}

.aboutRest {
  margin-top: 40px;
  display: flex;
  @include tablet-land {
    // 1250
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}

.aboutSection {
  @include tablet-land {
    // 1250
    margin-top: 40px;
  }
  h3 {
    @include Ossie(2.5rem, normal, $charcoal, normal, normal, left);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p {
    @include Domi(1.7rem, normal, lighten($charcoal, 30), 1.5, 1.6, left);
    padding-right: 40px;
    @include tablet-port {
      // 960
      margin: 0;
      padding: 0;
    }
  }
}
