.about {
  height: auto;
  background-image: linear-gradient(to right,  #9c9e9f00 0%,#9c9e9f00 50%, #E7E7E7 50%,#E7E7E7 100%)
}

.wrapper.about {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.about article,
.about aside {
  width: 50%;
  height: auto;
}

.about aside {
  background-image: url(../assets/about/about.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: $grey2;
}

.about article {
  background-color: white;
  display: flex;
  padding-right: 40px;
  .aboutTitle {
    min-width: 100%;
    padding: 40px;
    h2 {
      text-transform: uppercase;
      @include Ossie(5rem, normal, $font, normal, normal, center);
    }
  }
}

.wrapper.aboutContent {
  max-width: 800px;
  padding-left: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.aboutTeam {
  width: 100%;
  height: auto;
}

.aboutQuality,
.aboutDocs {
  height: auto;
  width: 100%;
}


.aboutRest {
  display: flex;
  margin-top: 40px;
}

.aboutSection {
  // border: 1px solid fuchsia;
  h3 {
    @include Ossie(2.5rem, normal, $charcoal, normal, normal, left);
    text-transform: uppercase;
  }
  p {
    @include Domi(1.7rem, normal, lighten($charcoal, 30), 1.5, 1.6, left);
    padding-right: 40px;
  }
}
