.blog {
  height: auto;
}

.wrapper.blog {
  padding: 40px 80px 60px;
  @include mobile-land {
    // 690
    padding: 30px;
  }
  @include mobile-port {
    // 480
    padding: 0;
  }
}
// SECTION TITLE
.blogTitle {
  width: 100%;
  h2 {
    width: 100%;
    @include Ossie(5rem, normal, $font, normal, normal, center);
    text-transform: uppercase;
  }
}

// BLOGS
.blogContentContainer {
  width: 100%;
  margin-top: 50px;
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // BLOG
    li {
      width: 100%;
      background-color: $tint;
      margin: 80px 0;
      padding: 2%;
      display: flex;
      justify-content: center;
      // .blogImage [ 1 ] , .blogContent [ 2 ]
      @include tablet-port {
        // 960
        height: auto;
        flex-direction: column;
      }
    }
  }
}
// BLOG IMAGE [ 1 ]
.blogImage {
  width: 40%;
  @include tablet-land {
    // 1250
    height: 250px;
  }
  @include tablet-port {
    // 960
    height: 50%;
    width: 100%;
    padding: 5%;
  }
  img {
    min-height: 100%;
    object-fit: cover;
    @include tablet-port {
      // 960
      object-fit: contain;
    }
  }
}

// BLOG CONTENT [ 2 ]
.blogContent {
  width: 60%;
  padding-left: 40px;
  padding-right: 40px;
  flex-basis: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include tablet-port {
    // 960
    height: auto;
    width: 100%;
    padding-bottom: 40px;
    flex-basis: 0;
  }
  ///// BLOG TITLE [ 1 ]
  h3 {
    @include Ossie(2.8rem, normal, $charcoal, normal, normal, left);
    text-transform: uppercase;
    @include tablet-port {
      // 960
      padding-top: 20px;
    }
  }
  ///// BLOG DESCRIPTION [ 2 ]
  p {
    margin-top: 40px;
    margin-bottom: 20px;
    @include Domi(1.7rem, normal, lighten($charcoal, 30), 1.5, 1.6, left);
  }
  ///// BLOG LINK [ 3 ]
  a {
    margin-top: 20px;
    background-color: none;
    @include Ossie(2.2rem, normal, $charcoal, normal, normal, left);
    text-transform: uppercase;
    display: block;
    display: flex;
    &:hover,
    &:focus {
      text-decoration: underline double;
    }
    h4 {
      font-weight: normal;
      text-decoration: underline;
    }
    ion-icon {
      font-size: 3.2rem;
      margin-left: 10px;
    }
  }
}

.blogBar {
  height: 4px;
  width: 0;
  background-color: lighten($charcoal, 20);
  border-radius: 3px;
  transition: width 3s;
}

.blogBar.expand {
  width: 100%;
}
