.contact {
  width: 100%;
  height: auto;
  background-color: $charcoal;
  position: relative;
}

.wrapper.contact {
  width: 100%;
  padding: 60px 80px 60px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 33%;
  display: flex;
  flex-direction: column;
  h3 {
    width: 100%;
    @include Ossie(3rem, normal, $tint, normal, normal, center);
    text-transform: uppercase;
  }
  ul {
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    li {
      margin-top: 15px;
      a {
        transition: transform 0.5s;
        display: inline-block;
        @include Domi(1.8rem, normal, $tint, 1.5, 1.6, left);
        &:hover,
        &:focus {
          transform: scale(1.25);
        }
      }
      button {
        transition: transform 0.5s;
        @include Domi(1.8rem, normal, $tint, 1.5, 1.6, left);
        &:hover,
        &:focus {
          transform: scale(1.25);
        }
      }
    }
  }
}

.contactContainer li {
  button {
    color: $tint;
    &:focus ion-icon,
    &:hover ion-icon {
      transform: scale(1.5);
    }
    ion-icon {
      transition: transform 0.5s;
      margin-right: 10px;
      color: $tint;
    }
  }
}

.contact textarea {
  position: absolute;
  left: -2000px;
}
