.contact {
  height: auto;
  width: 100%;
  background-color: $charcoal;
  position: relative;
}

.wrapper.contact {
  width: 100%;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  @include tablet-port {
    // 960
    flex-direction: column;
  }
  @include mobile-port {
    // 480
    padding: 40px;
  }
}

// EACH CONTACT CONTAINER
.container {
  width: 33%;
  display: flex;
  flex-direction: column;
  @include tablet-port {
    // 960
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  h3,
  h4 {
    width: 100%;
    @include Ossie(4rem, normal, $tint, normal, normal, center);
    text-transform: uppercase;
  }
  ul {
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    @include tablet-port {
      // 960
      margin: 5px 0 0 0;
      padding: 0;
    }
    li {
      margin-top: 15px;
      @include Domi(1.8rem, normal, $tint, 1.5, 1.6, left);
      @include tablet-port {
        // 960
        width: 100%;
        display: flex;
        justify-content: center;
      }
      a {
        @include Domi(1.8rem, normal, $tint, 1.5, 1.6, left);
        display: inline-block;
        transition: transform 0.5s;
        @include tablet-port {
          // 960
          text-align: center;
        }
        &:hover,
        &:focus,
        &:active {
          transform: scale(1.2);
        }
      }
      button {
        display: flex;
        @include Domi(1.8rem, normal, $tint, 1.5, 1.6, left);
        transition: transform 0.5s;
        @include tablet-port {
          // 960
          text-align: center;
        }
        &:hover,
        &:focus,
        &:active {
          transform: scale(1.2);
        }
        h5 {
          @include Domi(1.8rem, normal, $tint, 1.5, 1.6, left);
        }
        ion-icon {
          font-size: 2.8rem;
          margin-left: 10px;
        }
      }
    }
  }
}


.contact textarea#email {
  position: absolute;
  left: -2000px;
}
