.education {
  height: auto;
  background-color: $charcoal;
}

.wrapper.education {
  width: 100%;
  height: auto;
  padding: 5% 180px;
  @include tablet-port {
    // 960
    padding: 2% 80px;
  }
}

.eduBoxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  @include tablet-port {
    // 690
    flex-direction: column;
  }
  .eduBox {
    height: 150px;
    @include tablet-port {
      // 690
      margin: 15px 0;
    }
    img {
      object-fit: contain;
      height: 100%;
    }
  }
}

.edu2 {
   @include mobile-land {
     // 690
     height: 200px;     
  }
}
