.education {
  height: auto;
  background-color: $charcoal;
}

.wrapper.education {
  width: 100%;
  padding: 80px 300px;
  display: flex;
  justify-content: space-between;
}
.eduBox {
  width: 500px;
  height: 200px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

