// GENERAL NAV
header {
  height: 100vh;
  background-color: $grey;
  background-image: url(../assets/nav/ME19.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: all 1s;
  @include mobile-land-h {
    // 1000vh
    background-size: 65%;
  }
  @include mobile-port-h {
    // 820vh
    background-size: 35%;
  }
  @include mobile-port-h2 {
    // 650vh
    background-size: 30%;
  }
  @include mobile-port-hh {
    //500vh
    height: auto;
    background-image: none;
  }
  @include mobile-land {
    // 690
    height: auto;
    background-image: none;
  }
}

header .wrapper {
  height: 100%;
  padding: 20px 80px;
  @include mobile-port-h {
    // 860
    padding: 15px 60px;
  }
  @include mobile-land {
    // 680
    padding: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  @include mobile-port {
    // 480
    padding: 40px 10px;
  }
}

// MENU-LOGO
.navMenuLogo {
  height: 200px;
  width: 100%;
  position: relative;
  padding-top: 30px;
  transition: all 1s;
  @include mobile-port-hh {
    // 500vh
    padding-top: 20px;
  }
  @include mobile-land {
    // 690
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // LOGO [ 1 ]
  .mainLogo {
    @include mobile-land {
      // 690
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
}
.navMenuLogo.expand {
  @include mobile-land {
    // 690
    height: 650px;
  }
}

// [ 2 ] MENU
.navMenu {
  height: 100%;
  width: 100%;
  position: absolute;
  @include mobile-land {
    // 690
    height: auto;
    margin-top: 50px;
    position: static;
    padding: 0;
  }
  .menu {
    height: 300px;
    text-align: right;
    @include mobile-land {
      // 690
      height: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    // [ 1 ]
    button.dropMenu {
      height: auto;
      transform: scale(0);
      position: relative;
      transition: all 0.5s;
      z-index: 7000;
      @include reduce {
        transform: scale(1);
      }
      @include mobile-land {
        // 690
        height: auto;
        position: relative;
      }
      &:hover ion-icon,
      &:focus ion-icon {
        transform: scale(1.4);
      }
      ion-icon {
        color: $font;
        font-size: 10rem;
        margin-right: -12px;
        margin-top: -12px;
        padding: 0;
        transition: all 0.5s;
      }
    }
  }
}

.navMenu .menu .dropMenu.expand {
  transform: scale(1);
}

// DROP MENU
.navMenu .menu .drop {
  height: 500px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 170px;
  z-index: 1000;
  @include mobile-port-h2 {
    // 650vh
    height: 150px;
    width: 290px;
  }
  @include mobile-port-hh {
    // 500vh
    top: 120px;
  }
  @include mobile-land {
    // 690
    height: 300px;
    position: relative;
  }
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    @include mobile-port-h2 {
      // 650vh
      align-content: center;
    }
    li {
      @include mobile-port-h2 {
        // 650vh
        width: 50%;
        padding: 0;
      }
      button {
        @include Domi(
          1.9rem,
          normal,
          rgba(255, 255, 255, 0),
          normal,
          2.2,
          right
        );
        text-transform: capitalize;
        transition: all 0.5s;
        @include mobile-port-h2 {
          text-align: center;
        }
      }
    }
  }
}
// DROP MENU expanded
.navMenu .menu .drop.expand {
  @include mobile-port-h2 {
    height: 150px;
    width: 290px;
  }
  @include mobile-land {
    // 690
    height: 300px;
    margin: 10px auto;
    position: static;
  }
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    @include mobile-port-h2 {
      // 650vh
      align-content: center;
    }
    @include mobile-land {
      // 690
      margin-top: 20px;
    }

    li {
      @include mobile-port-h2 {
        // 650vh
        width: 130px;
        padding: 0;
      }
      @include mobile-land {
        // 690
        width: 100%;
        margin: 0;
        padding: 0;
      }
      button {
        color: $font;
        @include mobile-port-h2 {
          // 650vh
          width: 100%;
          text-align: center;
        }
        &:hover,
        &:focus,
        &:active {
          margin-right: 8px;
          transform: scale(1.3);
          @include mobile-port-h2 {
            // 650vh
            margin-right: 0;
          }
        }
      }
    }
  }
}

// BAR above the drop menu
.dropBar {
  height: 5px;
  width: 0;
  background: lighten($charcoal, 10);
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  transition: width 0.5s;
  @include reduce {
    transition: width 0s;
  }
  @include mobile-port-h {
    // 1000vh
    border-radius: 0;
  }
}

// BAR above the drop menu - expanded
.dropBar.expand {
  width: 100%;
}

// TITLE
.navTitle {
  height: calc(100% - 230px);
  margin-top: 30px;
  position: relative;
  z-index: 500;
  transition: all 1s;
  @include mobile-land-h {
    // 1000vh
    height: 30%;
  }
  @include mobile-land {
    // 690
    height: auto;
    position: static;
  }
  &::before,
  .title {
    display: inline-block;
    vertical-align: middle;
    @include mobile-port-hh {
      // 600vh
      vertical-align: bottom;
    }
    @include mobile-land {
      // 690
      width: 100%;
      display: block;
    }
  }
  // positional element created only to align title to something
  &::before {
    content: "";
    height: 100%;
    width: 0;
  }
}

.title .titleContainer {
  transition: all 1s;
  @include mobile-land-h {
    // 1000
    transform: scale(0.7);
    margin-left: -60px;
    margin-top: -20px;
  }
  @include mobile-port-h {
    // 820
    transform: scale(0.65);
    margin-left: -60px;
    margin-top: -30px;
  }
  @include mobile-port-hh {
    // 500
    transform: scale(0.6);
    margin-left: -80px;
    margin-top: -30px;
  }
  @include mobile-land {
    // 690
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  h1.pos0 {
    @include Ossie(10rem, normal, $font, normal, 1.2, left);
    text-transform: uppercase;
    margin-left: -1px;
    @include mobile-land-h {
      // 820vh
      font-size: 8rem;
    }
    @include mobile-port-hh {
      // 500vh
      font-size: 7rem;
    }
    @include mobile-land {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
  h2.pos1,
  h2.pos2 {
    @include Ossie(8rem, normal, darken($grey, 50), normal, 1.2, left);
    text-transform: uppercase;
    transition: all 1s;
    @include mobile-port-h {
      // 1000vh
      font-size: 6rem;
    }
    @include mobile-port-hh {
      // 500vh
      font-size: 5rem;
      display: inline;
    }
    @include mobile-land {
      // 690
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0 auto;
    }
  }
}

// SOCIAL ICONS
.navSocial {
  transition: all 1s;
  position: absolute;
  bottom: 100px;
  z-index: 1500;
  @include mobile-port-h {
    // 820vh
    bottom: 50px;
  }
  @include mobile-port-hh {
    // 500vh
    position: static;
    margin: -1px;
    margin-top: -20px;
  }
  @include mobile-land {
    // 680
    position: static;
    margin-top: 20px;
  }
  @include mobile-port {
    // 480
    margin-top: 0;
  }
  ul {
    display: flex;
    @include mobile-port-hh {
      // 500vh
      height: 100%;
    }
    @include mobile-land {
      // 690
      justify-content: center;
      height: 70px;
    }
    li {
      margin-right: 30px;
      padding-top: 80px;
      @include mobile-port-hh {
        // 500vh
        padding-top: 0;
      }
      @include mobile-land {
        // 690
        margin: 0 15px;
        padding: 0;
      }
      ion-icon {
        font-size: 3.6rem;
        color: $font;
        transition: transform 1.5s, color 1s;
        border: 1px solid rgba(255, 255, 255, 0);
      }
    }
  }
}

.navSocial {
  ul li a {
    &:focus ion-icon,
    &:hover ion-icon,
    &:active ion-icon {
      transform: scale(1.6);
    }
  }
}
