.message {
  height: auto;
  background: linear-gradient(
    to right,
    $tint 0%,
    $tint 50%,
    #e4e4e4 50%,
    #e4e4e4 100%
  );
  @include tablet-port {
    // 960
    background: #e4e4e4;
  }
}

.wrapper.message {
  padding: 40px 80px 60px;
  display: flex;
  @include tablet-port {
    // 960
    flex-direction: column;
    padding: 0;
    padding-bottom: 40px;
  }
}

.messageTitle {
  width: 100%;
  h2 {
    @include Ossie(5rem, normal, $font, normal, normal, center);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.message article {
  padding: 20px 80px 20px 0px;
  @include tablet-port {
    // 960
    height: auto;
    background-color: $tint;
  }
}

.message aside,
.message article {
  width: 50%;
  @include tablet-port {
    // 960
    width: 100%;
    padding: 60px 80px 80px;
  }
  @include mobile-port {
    // 480
    padding: 40px;
  }
}

.message aside {
  background-image: url(../assets/message/elk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #e4e4e4;
  @include tablet-port {
    // 960
    height: 350px;
    display: flex;
    background-position: center;
    margin-top: 40px;
  }
}

fieldset {
  border: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include Domi(1.8rem, normal, $charcoal, 1.5, 1.6, left);
  label {
    @include Ossie(2rem, normal, $font, normal, normal, center);
    text-transform: uppercase;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    span {
      color: $alert;
    }
  }
  input {
    padding: 3% 4%;
    width: 100%;
    border: 2px solid $charcoal;
  }

  textarea {
    width: 100%;
    padding: 3% 4%;
    resize: vertical;
    border: 2px solid $charcoal;
  }
  button {
    width: 47%;
    border: 2px solid $charcoal;
    text-transform: uppercase;
    margin-top: 30px;
    display: inline-block;
    transition: all 1s;
    height: 50px;
    @include Ossie(2rem, normal, $charcoal, normal, normal, center);
    &:hover,
    &:focus {
      background-color: $charcoal;
      color: $tint;
    }
    @include tablet-land {
      // 1250
      width: 100%;
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: lighten($charcoal, 20);
  opacity: 1;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  background-color: $charcoal;
  color: $tint;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  @include tablet-land {
    // 1250
    flex-direction: column;
  }
}

.error {
  margin-top: 0;
  font-size: 1.8rem;
  color: $alert;
}

.replies {
  min-height: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 3px 0 3px 3px;
  &:focus-within {
    background-color: $charcoal;
    border: 2px solid $charcoal;
  }
  &:focus-within label {
    color: $tint;
  }
  input {
    position: relative;
    width: 5%;
    opacity: 0;
    &:focus,
    &:hover {
      outline: none;
    }
  }
  label {
    margin: 0 0 0 15px;
    width: 95%;
    align-self: center;
    @include mobile-port {
      // 480
      font-size: 1.5rem;
    }
    ion-icon {
      font-size: 3rem;
      position: absolute;
      left: 0;
      top: 2px;
      transition: all 0.5s;
      @include mobile-port {
        // 480
        font-size: 2.5rem;
      }
    }
    ion-icon:first-child {
      opacity: 0;
    }
  }
}

.policy {
  display: inline-block;
  margin-top: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.5s;
  &:hover,
  &:focus-within {
    border-bottom: 2px solid $font;
  }
  a {
    display: flex;
    @include Ossie(1.9rem, normal, $font, normal, normal, center);
    text-transform: uppercase;
    ion-icon {
      font-size: 2.8rem;
      margin-left: 10px;
    }
  }
}
