// GENERAL NAV
nav {
  height: calc(100vh + 10px);
  background-color: $grey;
  background-image: url(../assets/ME19.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.nav.wrapper {
  padding: 20px 80px 0 80px;
  height: 100%;
}

.navMenuLogo {
  position: relative;
  height: 200px;
  width: 100%;
  padding-top: 30px;
}

// LOGO
.navLogo {
  height: 150px;
  width: 100%;
  position: absolute;

  button {
    &:hover .bar,
    &:focus .bar {
      background: lighten($charcoal, 40);
    }
    &:hover .logo1,
    &:focus .logo1 {
      transform: scale(1.2);
    }
  }

  .logo1 {
    position: relative;
    display: inline-block;
    height: 180px;
    width: 230px;
    z-index: 5000;
    transition: transform 1.5s;
  }

  .logo2 {
    position: absolute;
    top: 0;
    height: 180px;
    width: 230px;
    z-index: 6000;
    transform: scale(0);
    transition: transform 1.5s;
  }

  .logo3 {
    position: absolute;
    top: 0;
    height: 180px;
    width: 230px;
    z-index: 7000;
    transform: scale(0);
    transition: transform 1.5s;
  }
  .bars {
    display: flex;
  }
  .bar {
    position: relative;
    top: -18px;
    display: inline-block;
    width: 0;
    height: 5px;
    background: lighten($charcoal, 10);
    transition: width 2s;
    border-radius: 5px;
  }

  span {
    position: absolute;
    opacity: 0;
  }
}

// on load expands

.logo2.expand {
  transform: scale(1.1);
}

.logo3.expand {
  transform: scale(1.1);
}

.bar.expand {
  width: 100%;
  margin-left: 5px;
}

// MENU
.navMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  .menu {
    text-align: right;
    height: 100%;
    button.dropMenu {
      position: relative;
      height: auto;
      transform: scale(0);
      transition: transform 1.2s;
      &:hover ion-icon,
      &:focus ion-icon {
        color: lighten($charcoal, 40);
        transform: scale(1.2);
      }
      ion-icon {
        font-size: 10rem;
        color: $font;
        padding: 0;
        margin-right: -12px;
        margin-top: -12px;
        transition: transform 1s, margin-right 0.5s;
      }
    }
  }
}

.navMenu .menu .dropMenu.expand {
  transform: scale(1);
}

// DROP MENU
.navMenu .menu .drop {
  position: absolute;
  width: 200px;
  right: 0;
  top: 170px;
  z-index: 1000;
  button {
    @include Domi(1.9rem, normal, rgba(255, 255, 255, 0), normal, 2.2, right);
    text-transform: capitalize;
    transition: color 1.5s, transform 0.5s, margin-right 0.5s;
  }
}
// DROP MENU expanded
.navMenu .menu .drop.expand li button {
  color: $font;
  &:hover,
  &:focus {
    color: lighten($charcoal, 40);
    transform: scale(1.2);
    margin-right: 8px;
  }
}

// BAR above the drop menu
.dropBar {
  position: relative;
  width: 0;
  height: 5px;
  background: lighten($charcoal, 10);
  transition: width 2s;
  border-radius: 5px;
  margin-bottom: 10px;
}

// BAR above the drop menu - expanded
.dropBar.expand {
  width: 100%;
}

// TITLE
.navTitle {
  height: calc(100% - 230px);
  position: relative;
  z-index: 500;
  &::before,
  .title {
    display: inline-block;
    vertical-align: middle;
  }
  // positional element created only to align title to something
  &::before {
    content: "";
    width: 0;
    height: 100%;
  }
}

.title h1 {
  @include Ossie(10rem, normal, $font, normal, 1.2, left);
  text-transform: uppercase;
  margin-left: -1px;
  span.pos1 {
    display: block;
    font-size: 8rem;
    color: darken($grey, 50);
  }
  span.pos2 {
    display: block;
    font-size: 8rem;
    color: darken($grey, 50);
  }
}

.navSocial {
  position: absolute;
  bottom: 100px;
  z-index: 1500;
  ul {
    display: flex;
    li {
      margin-right: 30px;
      padding-top: 80px;
      ion-icon {
        font-size: 3rem;
        color: $font;
        transition: transform 1.5s, color 1s;
      }
    }
  }
}

// SOCIAL ICONS
.navSocial {
  ul li a {
    &:focus,
    &:hover {
      outline: 0;
    }
    &:focus ion-icon,
    &:hover ion-icon {
      transform: scale(1.5);
      color: lighten($charcoal, 40);
      border: 1px solid $accent;
    }
  }
}
