section.overview {
  height: auto;
  transition: margin-top 1.5s;
  margin-bottom: 100px;
  @include tablet-port {
    margin-bottom: -40px;
  }
}

.wrapper.overview {
  padding: 0 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  @include tablet-port {
    // 960
    flex-direction: column;
    align-content: center;
    padding: 0;
    margin-top: 180px;
    position: relative;
  }
}

section.overview.expand {
  margin-top: -100px;
  @include tablet-port {
    margin-top: -50px;
  }
  @include mobile-port-h {
    margin-top: -10px;
  }
}

.overGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

// [ 2 ]
.overGallery.gallery2 {
  position: relative;
  justify-content: flex-start;
  margin-top: 130px;
  @include tablet-port {
    // 960
    flex-direction: column;
    margin-top: 70px;
    position: static;
  }
}

.overGallery .gallery {
  width: 500px;
  height: 500px;
  padding: 20px;
  padding: 20px;
  transition: all 1s;
  @include tablet-land {
    // 1250
    width: 400px;
    height: 400px;
  }
  @include tablet-port {
    // 960
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .box {
    height: 100%;
    width: 100%;
    background-color: $tint;
    img {
      object-fit: contain;
      height: 100%;
    }
    @include tablet-port {
      // 960
      height: 100%;
      width: 100%;
    }
  }
  button {
    border: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 1s;
    &:hover,
    &:focus {
      border-bottom: 2px solid $charcoal;
    }
    h3 {
      @include Ossie(2.5rem, normal, $charcoal, normal, normal, left);
      text-transform: uppercase;
      @include tablet-port {
        // 960
        text-align: center;
      }
    }
  }
}

.gallery.pic1 {
  height: 400px;
  @include tablet-land {
    // 1250
    height: 330px;
  }
}

.gallery.pic2 {
  margin-top: 70px;
  .galleryBar {
    margin: 0;
    height: 5px;
    width: 0;
    background: lighten($charcoal, 10);
    border-radius: 5px;
    transition: width 2s;
  }
}

.gallery.pic2 .galleryBar.expand {
  width: 100%;
}

.overGallery.gallery2 .gallery.pic3 box {
  img {
    object-fit: cover;
  }
}

.splashTitle {
  position: absolute;
  top: 550px;
  left: 0;
  z-index: 0;
  transition: all 1s;
  @include tablet-land {
    // 1250
    top: 500px;
  }
  @include tablet-port {
    // 960
    width: 100%;
    top: -140px;
  }
  h1 {
    transition: all 1s;
    @include Monti(15rem, normal, $grey2, normal, normal, left);
    @include tablet-land {
      // 1250
      font-size: 12rem;
    }
    @include tablet-port {
      // 960
      width: 100%;
      text-align: center;
    }
  }
}
