section.overview {
  height: auto;
  transition: margin-top 1.5s;
  margin-bottom: 100px;
  @include tablet-port {
    margin-bottom: -40px;
  }
}

.wrapper.overview {
  padding: 0 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  @include tablet-port {
    // 960
    flex-direction: column;
    padding: 0;
    margin-top: 180px;
    position: relative; // for title
  }
}

section.overview.expand {
  margin-top: -90px;
  @include tablet-port {
    margin-top: -50px;
  }
  @include mobile-port-h {
    margin-top: -20px;
  }
}

.overGallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include tablet-port {
    // 960
    justify-content: space-between;
    height: auto;
    margin-top: 40px;
  }
}

// [ 2 ]
.overGallery.gallery2 {
  position: relative;
  justify-content: flex-start;
  margin-top: 130px;
  @include tablet-port {
    // 960
    flex-direction: column;
    position: static;
    margin-top: 0;
  }
}

.overGallery .gallery {
  width: 500px;
  height: 500px;
  padding: 20px;
  padding: 20px;
  transition: all 1s;
  @include tablet-land {
    // 1250
    width: 400px;
    height: 400px;
  }
  @include tablet-port {
    // 960
    width: 100%;
    padding: 0;
    position: relative; // for bar
  }
  .box {
    height: 100%;
    width: 100%;
    background-color: $tint;
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
  button {
    border: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 1s;
    display: flex;
    justify-content: center;
    &:hover,
    &:focus {
      border-bottom: 2px solid $charcoal;
    }
    h3 {
      @include Ossie(2.5rem, normal, $charcoal, normal, normal, left);
      text-transform: uppercase;
      @include tablet-port {
        // 960
        text-align: center;
      }
    }
    ion-icon {
      font-size: 4rem;
      margin-left: 15px;
    }
  }
}

.gallery.pic1 {
  height: 400px;
  @include tablet-land {
    // 1250
    height: 330px;
  }
  @include tablet-port {
    // 960
    height: 400px;
  }
}

.gallery.pic2 {
  margin-top: 70px;
  .galleryBar {
    height: 5px;
    width: 0;
    background: lighten($charcoal, 10);
    border-radius: 5px;
    transition: all 2s;
  }
}

.gallery.pic2 .galleryBar.expand {
  width: 100%;
  @include tablet-port {
    // 960
    position: absolute;
    top: -5px;
    z-index: 6000;
  }
}

.overGallery.gallery2 .gallery.pic3 box {
  img {
    object-fit: cover;
  }
}

.gallery.pic1,
.gallery.pic2,
.gallery.pic3 {
  @include tablet-port {
    // 960
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  @include mobile-port {
    // 480
    margin-top: 80px;
  }
}

.gallery.pic1 {
  margin-top: 0;
}

/// OVERVIEW TITLE

.splashTitle {
  position: absolute;
  top: 550px;
  left: 0;
  z-index: 0;
  transition: all 1s;
  @include tablet-land {
    // 1250
    top: 500px;
  }
  @include tablet-port {
    // 960
    width: 100%;
    top: -100px;
  }
  h1 {
    transition: all 1s;
    @include Monti(12rem, normal, $grey2, normal, normal, left);
    @include proj-land {
      // 1600
      font-size: 15rem;
    }
    @include tablet-land {
      // 1250
      font-size: 9.5rem;
    }
    @include tablet-port {
      // 960
      width: 100%;
      text-align: center;
    }
    @include mobile-land {
      // 690
      font-size: 8rem;
    }
  }
}
