.projects {
  height: 1500px;
  background-image: url(../assets/projects/strip.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 20px black inset;
}

.wrapper.projects {
  padding: 60px 80px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.projectGallery {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.gallery1 {
  margin-top: 100px;
  transition: margin-top 1.5s;
}

.gallery1.expand {
  margin-top: 0;
}

.gallery2 {
  margin-bottom: -100px;
  transition: margin-bottom 1.5s;
}

.gallery2.expand {
  margin-bottom: 0;
}

.gallery1 .galleryPic,
.gallery2 .galleryPic {
  margin: 20px;
  background-color: white;
  box-shadow: 2px 2px 10px 1px black;
  a {
    display: flex;
    position: relative;
    height: 100%;
    &:hover img,
    &:focus img {
      opacity: 0.25;
      transform: scale(1.15);
    }
    img {
      transition: transform 1.5s;
      border: 5px solid #7f6b53;
    }
    h3 {
      transition: transform 1.5s;
      text-transform: uppercase;
      position: absolute;
      @include Ossie(2.5rem, bold, $grey2, 1.5, normal, left);
    }
  }
}

.gallery1 .galleryPic h3 {
  transform: rotate(-90deg);
}

.gallery2 .galleryPic h3 {
  transform: rotate(90deg);
}

.gallery1 .pic1 h3 {
  bottom: 80px;
  left: -120px;
}

.gallery1 .pic2 h3 {
  bottom: 110px;
  left: -150px;
}

.gallery2 .pic1 h3 {
  top: 80px;
  right: -120px;
}

.gallery2 .pic2 h3 {
  top: 110px;
  right: -150px;
}

.projectGallery.gallery1 {
  justify-content: flex-start;
  .galleryPic.pic2 {
    width: 270px;
    align-self: flex-end;
  }
}

.projectGallery.gallery2 {
  justify-content: flex-end;
  position: relative;
  .splashTitle {
    top: 150px;
    left: 10px;
  }
  .galleryPic.pic1 {
    width: 400px;
    align-self: flex-start;
    img {
      border-top: none;
    }
  }
}

.projects .bar.projectBar {
  height: 5px;
  width: 0;
  margin: 0;
  background-color: #7f6b53;
  transition: width 2s;
}

.projects .bar.projectBar.expand {
  width: 100%;
}

.theme {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .themeImage {
    width: 75%;
    padding: 20px;
    img {
      object-fit: contain;
      box-shadow: 2px 2px 10px 1px black;
    }
  }
}
