.quote {
  background-color: $charcoal;
  height: auto;
  min-height: 400px;
  margin-top: 200px;
}

.wrapper.quote {
  padding: 80px 80px;
  height: auto;
  width: 100%;
}

.quoteContainer {
  display: flex;
  justify-content: space-between;
  @include tablet-port {
    // 960
    flex-direction: column;
    align-content: center;
  }
}

.quotePhoto {
  width: 400px;
  height: auto;
  transition: all 1s;
  @include tablet-port {
    // 960
    width: 100%;
  }
  img {
    object-fit: cover;
    max-width: 100%;
    transition: all 1s;
    @include tablet-port {
      // 960
      object-fit: contain;
    }
  }
}

.quoteContentContainer {
  width: 100%;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // .quoteLogoContainer {  logo  } see _logo.scss
  @include tablet-port {
    // 960
    padding: 0;
    height: auto;
    justify-content: space-between;
    padding: 20px;
  }
  .quoteLogoContainer {
    @include tablet-port {
      // 960
      flex-direction: column;
    }
    .mainLogo {
      position: relative;
      width: 100%;
      margin: 30px 0;
    }
  }
  .quoteContent {
    width: 100%;
    display: flex;
    justify-content: center;
    .quotePara {
      width: auto;
      padding: 5px;
      @include Domi(2rem, normal, $grey2, normal, 1.6, center);
      @include mobile-land {
        // 690
        font-size: 1.7rem;
      }
    }
    .quotation {
      width: 20px;
      position: relative;
      img {
        object-fit: contain;
      }
    }
  }
  h4 {
    @include Domi(1.4rem, normal, $grey2, normal, normal, center);
    margin-top: 10px;
  }
}

.quotation.open {
  top: -10px;
}

.quotation.close {
  bottom: -30px;
}
