.resume {
  background-color: $charcoal;
}

.wrapper.resume {
  padding: 60px 80px;
  @include tablet-land {
    // 1250
    padding: 50px 80px;
  }
  @include tablet-port {
    // 960
    padding: 50px 80px;
  }
  @include mobile-port {
    // 480
    padding: 40px;
  }
}

.linkToMe {
  width: 100%;
  margin-top: 50px;
  border: 2px solid $tint;
  display: flex;
  justify-content: center;
  a.linkTo {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover h5,
    &:focus h5 {
      color: $charcoal;
    }
    &:hover,
    &:focus {
      background-color: $tint;
    }

    h5 {
      text-transform: uppercase;
      transition: all 1s;
      @include Ossie(2rem, normal, $tint, normal, normal, center);
    }
  }
}
