.skills {
  height: auto;
  background-color: $tint;
}
.skills .wrapper {
  height: 100%;
  padding: 300px 130px 100px 130px;
  transition: padding-top 2s;
  @include reduce {
    padding-top: 0;
  }
  @include tablet-land {
    // 1250
    padding: 300px 100px 100px 100px;
    @include reduce {
      padding-top: 0;
    }
  }
  @include tablet-port {
    // 960
    padding: 200px 80px 100px 80px;
    @include reduce {
      padding-top: 0;
    }
  }
  @include mobile-land {
    // 690
    padding: 200px 60px 100px 60px;
    @include reduce {
      padding-top: 0;
    }
  }
  @include mobile-port {
    padding: 200px 30px 100px 30px;
    @include reduce {
      padding-top: 0;
    }
  }
  h3 {
    @include Ossie(3.2rem, normal, $font, normal, normal, left);
    width: 100%;
    text-transform: uppercase;
    margin: 60px 0;
  }
}

.skillsTitle {
  width: 100%;
  padding: 40px 40px 20px;
  h2 {
    @include Ossie(5rem, normal, $font, normal, normal, center);
    width: 100%;
    text-transform: uppercase;
  }
}

.wrapper.skills.expand {
  padding-top: 0;
}

.skills {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 30px;
    @include mobile-land {
      //690
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mobile-port {
      // 480

    }
    
  }
}
