// LOGO - Generic
.mainLogo {
  height: 150px;
  width: 100%;
  position: absolute;

  button {
    &:hover .bar,
    &:focus .bar {
      background: lighten($charcoal, 40);
    }
    &:hover .logo1,
    &:focus .logo1 {
      transform: scale(1.2);
    }
  }

  .logo1 {
    position: relative;
    display: inline-block;
    height: 180px;
    width: 230px;
    z-index: 5000;
    transition: all 1.5s;
    @include mobile-port-hh {
      height: 110px;
      width: 160px;
    }
  }

  .logo2 {
    position: absolute;
    top: 0;
    height: 180px;
    width: 230px;
    z-index: 6000;
    transform: scale(0);
    transition: all 1.5s;
    @include mobile-port-hh {
      height: 110px;
      width: 160px;
    }
  }

  .logo3 {
    position: absolute;
    top: 0;
    height: 180px;
    width: 230px;
    z-index: 7000;
    transform: scale(0);
    transition: all 1.5s;
    @include mobile-port-hh {
      height: 110px;
      width: 160px;
    }
  }
  .bars {
    display: flex;
  }
  .bar {
    position: relative;
    top: -18px;
    display: inline-block;
    width: 0;
    height: 5px;
    background: lighten($charcoal, 10);
    transition: all 2s;
    border-radius: 5px;
    @include mobile-port-hh {
      margin-top: 25px;
    }
  }
  span {
    position: absolute;
    opacity: 0;
  }
}

// on load expands

.logo2.expand {
  transform: scale(1.1);
}

.logo3.expand {
  transform: scale(1.1);
}

.bar.expand {
  width: 100%;
}

.bar.expand:not(.quoteBar):not(.contactBar) {
  margin-left: 5px;
}

// LOGO - quote
.quoteLogoContainer,
.contactLogoContainer {
  width: 100%;
  height: 50%;
  position: relative;
}
.quoteLogoContainer .mainLogo,
.contactLogoContainer .mainLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  .logo {
    .logo1 {
      height: 100px;
      width: 130px;
    }
    .logo2 {
      height: 100px;
      width: 130px;
    }
    .logo3 {
      height: 100px;
      width: 130px;
    }
  }
}



.quoteLogoContainer .bars,
.contactLogoContainer .bars {
  width: 100%;
}

.bar.quoteBar,
.bar.contactBar {
  width: 0;
  background: $tint;
  height: 2.5px;
  border-radius: 2.5px;
  top: 0px;
}

.bar.quoteBar.expand,
.bar.contactBar.expand {
  width: 100%;
}

.contactLogoContainer .mainLogo {
  position: relative;
}
