// LOGO - Generic
.mainLogo {
  height: 150px;
  width: 100%;
  position: absolute;

  button {
    &:hover .logo1,
    &:focus .logo1 {
      transform: scale(1.5);
    }
  }

  a {
    &:hover .logo1,
    &:focus .logo1 {
      transform: scale(1.5);
    }
  }

  h3 {
    opacity: 0;
  }

  .logo1 {
    height: 180px;
    width: 230px;
    position: relative;
    display: inline-block;
    z-index: 5000;
    transition: all 1.5s;
    @include reduce {
      margin-left: 0;
    }
    @include mobile-port-hh {
      height: 110px;
      width: 160px;
    }
  }

  .logo2,
  .logo3 {
    height: 180px;
    width: 230px;
    transform: scale(0);
    position: absolute;
    top: 0;
    z-index: 6000;
    transition: all 1.5s;
    @include reduce {
      transform: scale(1);
    }
    @include mobile-port-hh {
      height: 110px;
      width: 160px;
    }
  }

  .logo3 {
    z-index: 7000;
  }

  .bars {
    display: flex;
  }
  .bar {
    height: 5px;
    width: 0;
    background: lighten($charcoal, 10);
    position: relative;
    top: -18px;
    display: inline-block;
    transition: all 0.5s;
    border-radius: 5px;
    @include reduce {
      width: 100%;
    }
    @include mobile-port-hh {
      margin-top: 25px;
    }
  }
}

// on load expands

.logo2.expand,
.logo3.expand {
  transform: scale(1);
}

.bar.expand {
  width: 100%;
}

.bar.expand:not(.quoteBar):not(.contactBar) {
  margin-left: 5px;
  @include reduce {
    margin-left: 0;
  }
}

// LOGO - quote
.quoteLogoContainer,
.contactLogoContainer {
  height: 50%;
  width: 100%;
  position: relative;
}
.quoteLogoContainer .mainLogo,
.contactLogoContainer .mainLogo {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  .logo {
    .logo1,
    .logo2,
    .logo3 {
      height: 100px;
      width: 130px;
    }
  }
}

.quoteLogoContainer .bars,
.contactLogoContainer .bars {
  width: 100%;
}

.bar.quoteBar,
.bar.contactBar {
  height: 2.5px;
  width: 0;
  background: $tint;
  border-radius: 2.5px;
  top: 0px;
  @include reduce {
    width: 100%;
  }
}

.bar.quoteBar.expand,
.bar.contactBar.expand {
  width: 100%;
}

.contactLogoContainer .mainLogo {
  position: relative;
}
