// tools
@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:700|Oswald&display=swap");
@import "../partials/setup";
@import "../partials/variables";
@import "../partials/mixins";
// components
@import "../components/logo";
// sections
@import "../sections/header";
@import "../sections/overview";
@import "../sections/quote";
@import "../sections/about";
@import "../sections/skills";
@import "../sections/projects";
@import "../sections/education";
@import "../sections/blog";
@import "../sections/resume";
@import "../sections/message";
@import "../sections/contact";
@import "../sections/privacy";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-anchor: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

// headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  &:focus,
  &:hover {
    outline: 0;
  }
}

.scrollTop {
  height: 80px;
  width: 60px;
  background: $charcoal;
  visibility: hidden;
  position: fixed;
  bottom: 40px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 7000;
  @include mobile-port {
    // 480
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;    
  }
  button {
    padding: 5%;
    ion-icon {
        color: $tint;
        font-size: 1.8rem;
        transition: transform 1s;
    }
    h4 {
      @include Ossie(1.8rem, normal, lighten($tint, 50), normal, normal, center);
      padding: 2%;
    }
    &:hover ion-icon,
    &:focus ion-icon {
      transform: scale(1.6);      
    }
  }
}
