// tools
@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:700|Oswald&display=swap");
@import "../partials/setup";
@import "../partials/variables";
@import "../partials/mixins";
// components
@import "../components/logo";
// sections
@import "../sections/nav";
@import "../sections/overview";
@import "../sections/quote";
@import "../sections/about";
@import "../sections/skills";
@import "../sections/projects";
@import "../sections/education";
@import "../sections/blog";
@import "../sections/contact";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

// headings
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.02);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  &:focus,
  &:hover {
    outline: 0;
  }
}

.scrollTop {
  height: 80px;
  width: 50px;
  background: $charcoal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 7000;
  visibility: hidden;
  button {
    padding: 5%;
    ion-icon {
        color: $tint;
        font-size: 1.8rem;
        transition: transform 1s;
    }
    h4 {
      @include Ossie(1.5rem, normal, $tint, normal, normal, center);
      padding: 2%;
    }
    &:hover ion-icon,
    &:focus ion-icon {
      transform: scale(1.6);      
    }
  }
}
