@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:700|Oswald&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.mainLogo {
  height: 150px;
  width: 100%;
  position: absolute;
}

.mainLogo button:hover .bar,
.mainLogo button:focus .bar {
  background: #878787;
}

.mainLogo button:hover .logo1,
.mainLogo button:focus .logo1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mainLogo h3 {
  opacity: 0;
}

.mainLogo .logo1 {
  position: relative;
  display: inline-block;
  height: 180px;
  width: 230px;
  z-index: 5000;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

@media (max-height: 500px) {
  .mainLogo .logo1 {
    height: 110px;
    width: 160px;
  }
}

.mainLogo .logo2 {
  position: absolute;
  top: 0;
  height: 180px;
  width: 230px;
  z-index: 6000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

@media (max-height: 500px) {
  .mainLogo .logo2 {
    height: 110px;
    width: 160px;
  }
}

.mainLogo .logo3 {
  position: absolute;
  top: 0;
  height: 180px;
  width: 230px;
  z-index: 7000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

@media (max-height: 500px) {
  .mainLogo .logo3 {
    height: 110px;
    width: 160px;
  }
}

.mainLogo .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainLogo .bar {
  position: relative;
  top: -18px;
  display: inline-block;
  width: 0;
  height: 5px;
  background: #3b3b3b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
}

@media (max-height: 500px) {
  .mainLogo .bar {
    margin-top: 25px;
  }
}

.logo2.expand {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo3.expand {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bar.expand {
  width: 100%;
}

.bar.expand:not(.quoteBar):not(.contactBar) {
  margin-left: 5px;
}

.quoteLogoContainer,
.contactLogoContainer {
  width: 100%;
  height: 50%;
  position: relative;
}

.quoteLogoContainer .mainLogo,
.contactLogoContainer .mainLogo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.quoteLogoContainer .mainLogo .logo .logo1,
.contactLogoContainer .mainLogo .logo .logo1 {
  height: 100px;
  width: 130px;
}

.quoteLogoContainer .mainLogo .logo .logo2,
.contactLogoContainer .mainLogo .logo .logo2 {
  height: 100px;
  width: 130px;
}

.quoteLogoContainer .mainLogo .logo .logo3,
.contactLogoContainer .mainLogo .logo .logo3 {
  height: 100px;
  width: 130px;
}

.quoteLogoContainer .bars,
.contactLogoContainer .bars {
  width: 100%;
}

.bar.quoteBar,
.bar.contactBar {
  width: 0;
  background: #f8f8f8;
  height: 2.5px;
  border-radius: 2.5px;
  top: 0px;
}

.bar.quoteBar.expand,
.bar.contactBar.expand {
  width: 100%;
}

.contactLogoContainer .mainLogo {
  position: relative;
}

nav {
  -webkit-transition: all 1s;
  transition: all 1s;
  height: calc(100vh);
  background-color: #dcdcdc;
  background-image: url(../assets/nav/ME19.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media (max-height: 1000px) {
  nav {
    background-size: 65%;
  }
}

@media (max-height: 820px) {
  nav {
    background-size: 35%;
  }
}

@media (max-height: 650px) {
  nav {
    background-size: 30%;
  }
}

@media (max-height: 500px) {
  nav {
    background-image: none;
    height: auto;
  }
}

@media (max-width: 690px) {
  nav {
    background-image: none;
    height: auto;
  }
}

.nav.wrapper {
  padding: 20px 80px;
  height: 100%;
}

@media (max-height: 820px) {
  .nav.wrapper {
    padding: 15px 60px;
  }
}

@media (max-width: 690px) {
  .nav.wrapper {
    padding: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .nav.wrapper {
    padding: 40px 10px;
  }
}

.navMenuLogo {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  height: 200px;
  width: 100%;
  padding-top: 30px;
}

@media (max-height: 500px) {
  .navMenuLogo {
    padding-top: 20px;
  }
}

@media (max-width: 690px) {
  .navMenuLogo {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 690px) {
  .navMenuLogo .mainLogo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 690px) {
  .navMenuLogo.expand {
    height: 650px;
  }
}

.navMenu {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 690px) {
  .navMenu {
    height: auto;
    position: static;
    padding: 0;
    margin-top: 50px;
  }
}

.navMenu .menu {
  text-align: right;
  height: 300px;
}

@media (max-width: 690px) {
  .navMenu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100px;
    position: relative;
  }
}

.navMenu .menu button.dropMenu {
  position: relative;
  height: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 690px) {
  .navMenu .menu button.dropMenu {
    position: relative;
    height: auto;
  }
}

.navMenu .menu button.dropMenu:hover ion-icon,
.navMenu .menu button.dropMenu:focus ion-icon {
  color: #878787;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navMenu .menu button.dropMenu ion-icon {
  font-size: 10rem;
  color: #191919;
  padding: 0;
  margin-right: -12px;
  margin-top: -12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navMenu .menu .dropMenu.expand {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navMenu .menu .drop {
  position: absolute;
  width: 200px;
  height: 500px;
  right: 0;
  top: 170px;
  z-index: 1000;
}

@media (max-height: 650px) {
  .navMenu .menu .drop {
    width: 290px;
    height: 150px;
  }
}

@media (max-height: 500px) {
  .navMenu .menu .drop {
    top: 120px;
  }
}

@media (max-width: 690px) {
  .navMenu .menu .drop {
    position: relative;
    height: 300px;
  }
}

.navMenu .menu .drop ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (max-height: 650px) {
  .navMenu .menu .drop ul {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (max-height: 650px) {
  .navMenu .menu .drop ul li {
    width: 50%;
    padding: 0;
  }
}

.navMenu .menu .drop ul li button {
  font-family: 'Domine', serif;
  font-size: 1.9rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0);
  letter-spacing: normal;
  line-height: 2.2;
  text-align: right;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-height: 650px) {
  .navMenu .menu .drop ul li button {
    text-align: center;
  }
}

@media (max-height: 650px) {
  .navMenu .menu .drop.expand {
    width: 290px;
    height: 150px;
  }
}

@media (max-width: 690px) {
  .navMenu .menu .drop.expand {
    position: static;
    height: 300px;
    margin: 10px auto;
  }
}

.navMenu .menu .drop.expand ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (max-height: 650px) {
  .navMenu .menu .drop.expand ul {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media (max-width: 690px) {
  .navMenu .menu .drop.expand ul {
    margin-top: 20px;
  }
}

@media (max-height: 650px) {
  .navMenu .menu .drop.expand ul li {
    padding: 0;
    width: 130px;
  }
}

@media (max-width: 690px) {
  .navMenu .menu .drop.expand ul li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.navMenu .menu .drop.expand ul li button {
  color: #191919;
}

@media (max-height: 650px) {
  .navMenu .menu .drop.expand ul li button {
    width: 100%;
    text-align: center;
  }
}

.navMenu .menu .drop.expand ul li button:hover, .navMenu .menu .drop.expand ul li button:focus {
  color: #878787;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 8px;
}

@media (max-height: 650px) {
  .navMenu .menu .drop.expand ul li button:hover, .navMenu .menu .drop.expand ul li button:focus {
    margin-right: 0;
  }
}

.dropBar {
  position: relative;
  width: 0;
  height: 5px;
  background: #3b3b3b;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-height: 820px) {
  .dropBar {
    border-radius: 0;
  }
}

.dropBar.expand {
  width: 100%;
}

.navTitle {
  height: calc(100% - 230px);
  position: relative;
  z-index: 500;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-top: 30px;
}

@media (max-height: 1000px) {
  .navTitle {
    height: 30%;
  }
}

@media (max-width: 690px) {
  .navTitle {
    position: static;
    height: auto;
  }
}

.navTitle::before,
.navTitle .title {
  display: inline-block;
  vertical-align: middle;
}

@media (max-height: 500px) {
  .navTitle::before,
  .navTitle .title {
    vertical-align: bottom;
  }
}

@media (max-width: 690px) {
  .navTitle::before,
  .navTitle .title {
    width: 100%;
    display: block;
  }
}

.navTitle::before {
  content: "";
  width: 0;
  height: 100%;
}

.title .titleContainer {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-height: 1000px) {
  .title .titleContainer {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: -60px;
    margin-top: -20px;
  }
}

@media (max-height: 820px) {
  .title .titleContainer {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin-left: -60px;
    margin-top: -30px;
  }
}

@media (max-height: 500px) {
  .title .titleContainer {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin-left: -80px;
    margin-top: -30px;
  }
}

@media (max-width: 690px) {
  .title .titleContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title .titleContainer h1.pos0 {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  margin-left: -1px;
}

@media (max-height: 1000px) {
  .title .titleContainer h1.pos0 {
    font-size: 8rem;
  }
}

@media (max-height: 500px) {
  .title .titleContainer h1.pos0 {
    font-size: 7rem;
  }
}

@media (max-width: 690px) {
  .title .titleContainer h1.pos0 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.title .titleContainer h2.pos1,
.title .titleContainer h2.pos2 {
  font-family: "Oswald", sans-serif;
  font-size: 8rem;
  font-weight: normal;
  color: #5d5d5d;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-height: 820px) {
  .title .titleContainer h2.pos1,
  .title .titleContainer h2.pos2 {
    font-size: 6rem;
  }
}

@media (max-height: 500px) {
  .title .titleContainer h2.pos1,
  .title .titleContainer h2.pos2 {
    font-size: 5rem;
    display: inline;
  }
}

@media (max-width: 690px) {
  .title .titleContainer h2.pos1,
  .title .titleContainer h2.pos2 {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
}

.navSocial {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  bottom: 100px;
  z-index: 1500;
}

@media (max-height: 820px) {
  .navSocial {
    bottom: 50px;
  }
}

@media (max-height: 500px) {
  .navSocial {
    position: static;
    margin: -1px;
    margin-top: -20px;
  }
}

@media (max-width: 690px) {
  .navSocial {
    position: static;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .navSocial {
    margin-top: 0;
  }
}

.navSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-height: 500px) {
  .navSocial ul {
    height: 100%;
  }
}

@media (max-width: 690px) {
  .navSocial ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70px;
  }
}

.navSocial ul li {
  margin-right: 30px;
  padding-top: 80px;
}

@media (max-height: 500px) {
  .navSocial ul li {
    padding-top: 0;
  }
}

@media (max-width: 690px) {
  .navSocial ul li {
    margin: 0 15px;
    padding: 0;
  }
}

.navSocial ul li ion-icon {
  font-size: 3.6rem;
  color: #191919;
  -webkit-transition: color 1s, -webkit-transform 1.5s;
  transition: color 1s, -webkit-transform 1.5s;
  transition: transform 1.5s, color 1s;
  transition: transform 1.5s, color 1s, -webkit-transform 1.5s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.navSocial ul li a:focus ion-icon,
.navSocial ul li a:hover ion-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #878787;
}

section.overview {
  height: auto;
  -webkit-transition: margin-top 1.5s;
  transition: margin-top 1.5s;
  margin-bottom: 100px;
}

@media (max-width: 960px) {
  section.overview {
    margin-bottom: -40px;
  }
}

.wrapper.overview {
  padding: 0 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 960px) {
  .wrapper.overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 180px;
    position: relative;
  }
}

section.overview.expand {
  margin-top: -90px;
}

@media (max-width: 960px) {
  section.overview.expand {
    margin-top: -50px;
  }
}

@media (max-height: 820px) {
  section.overview.expand {
    margin-top: -20px;
  }
}

.overGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 960px) {
  .overGallery {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    margin-top: 40px;
  }
}

.overGallery.gallery2 {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 130px;
}

@media (max-width: 960px) {
  .overGallery.gallery2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    margin-top: 0;
  }
}

.overGallery .gallery {
  width: 500px;
  height: 500px;
  padding: 20px;
  padding: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 1250px) {
  .overGallery .gallery {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 960px) {
  .overGallery .gallery {
    width: 100%;
    padding: 0;
    position: relative;
  }
}

.overGallery .gallery .box {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.overGallery .gallery .box img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.overGallery .gallery button {
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overGallery .gallery button:hover, .overGallery .gallery button:focus {
  border-bottom: 2px solid #212121;
}

.overGallery .gallery button h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  .overGallery .gallery button h3 {
    text-align: center;
  }
}

.overGallery .gallery button ion-icon {
  font-size: 4rem;
  margin-left: 15px;
}

.gallery.pic1 {
  height: 400px;
}

@media (max-width: 1250px) {
  .gallery.pic1 {
    height: 330px;
  }
}

@media (max-width: 960px) {
  .gallery.pic1 {
    height: 400px;
  }
}

.gallery.pic2 {
  margin-top: 70px;
}

.gallery.pic2 .galleryBar {
  height: 5px;
  width: 0;
  background: #3b3b3b;
  border-radius: 5px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.gallery.pic2 .galleryBar.expand {
  width: 100%;
}

@media (max-width: 960px) {
  .gallery.pic2 .galleryBar.expand {
    position: absolute;
    top: -5px;
    z-index: 6000;
  }
}

.overGallery.gallery2 .gallery.pic3 box img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 960px) {
  .gallery.pic1,
  .gallery.pic2,
  .gallery.pic3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
  }
}

@media (max-width: 480px) {
  .gallery.pic1,
  .gallery.pic2,
  .gallery.pic3 {
    margin-top: 80px;
  }
}

.gallery.pic1 {
  margin-top: 0;
}

.splashTitle {
  position: absolute;
  top: 550px;
  left: 0;
  z-index: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 1250px) {
  .splashTitle {
    top: 500px;
  }
}

@media (max-width: 960px) {
  .splashTitle {
    width: 100%;
    top: -100px;
  }
}

.splashTitle h1 {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: 'Montserrat', sans-serif;
  font-size: 12rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

@media (min-width: 1600px) {
  .splashTitle h1 {
    font-size: 15rem;
  }
}

@media (max-width: 1250px) {
  .splashTitle h1 {
    font-size: 9.5rem;
  }
}

@media (max-width: 960px) {
  .splashTitle h1 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 690px) {
  .splashTitle h1 {
    font-size: 8rem;
  }
}

.quote {
  background-color: #212121;
  height: auto;
  min-height: 400px;
  margin-top: 200px;
}

.wrapper.quote {
  padding: 80px 80px;
  height: auto;
  width: 100%;
}

.quoteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  .quoteContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.quotePhoto {
  width: 400px;
  height: auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 960px) {
  .quotePhoto {
    width: 100%;
  }
}

.quotePhoto img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 960px) {
  .quotePhoto img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.quoteContentContainer {
  width: 100%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 960px) {
  .quoteContentContainer {
    padding: 0;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
}

@media (max-width: 960px) {
  .quoteContentContainer .quoteLogoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.quoteContentContainer .quoteLogoContainer .mainLogo {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.quoteContentContainer .quoteContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quoteContentContainer .quoteContent .quotePara {
  width: auto;
  padding: 5px;
  font-family: 'Domine', serif;
  font-size: 2rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 690px) {
  .quoteContentContainer .quoteContent .quotePara {
    font-size: 1.7rem;
  }
}

.quoteContentContainer .quoteContent .quotation {
  width: 20px;
  position: relative;
}

.quoteContentContainer .quoteContent .quotation img {
  -o-object-fit: contain;
     object-fit: contain;
}

.quoteContentContainer h4 {
  font-family: 'Domine', serif;
  font-size: 1.4rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-top: 10px;
}

.quotation.open {
  top: -10px;
}

.quotation.close {
  bottom: -30px;
}

.about {
  height: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#9c9e9f00), color-stop(50%, #9c9e9f00), color-stop(50%, #e7e7e7), to(#e7e7e7));
  background-image: linear-gradient(to right, #9c9e9f00 0%, #9c9e9f00 50%, #e7e7e7 50%, #e7e7e7 100%);
}

.wrapper.about {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media (max-width: 960px) {
  .wrapper.about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about article,
.about aside {
  width: 50%;
  height: auto;
}

@media (max-width: 960px) {
  .about article,
  .about aside {
    width: 100%;
  }
}

.about aside {
  background-image: url(../assets/about/about.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #e7e7e7;
}

@media (max-width: 960px) {
  .about aside {
    height: 500px;
    background-position: center;
  }
}

.about article {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

@media (max-width: 960px) {
  .about article {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.about article .aboutTitle {
  min-width: 100%;
  padding: 40px;
}

@media (max-width: 1250px) {
  .about article .aboutTitle {
    padding-left: 0;
  }
}

@media (max-width: 960px) {
  .about article .aboutTitle {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.about article .aboutTitle h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.wrapper.aboutContent {
  max-width: 800px;
  padding-left: 80px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 960px) {
  .wrapper.aboutContent {
    max-width: 100%;
    padding: 80px;
    padding-top: 60px;
    margin: 0;
  }
}

.aboutTeam {
  width: 100%;
  height: auto;
}

.aboutQuality,
.aboutDocs {
  height: auto;
  width: 100%;
}

.aboutRest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media (max-width: 1250px) {
  .aboutRest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
}

@media (max-width: 1250px) {
  .aboutSection {
    margin-top: 40px;
  }
}

.aboutSection h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.aboutSection p {
  font-family: 'Domine', serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #6e6e6e;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
  padding-right: 40px;
}

@media (max-width: 960px) {
  .aboutSection p {
    padding: 0;
    margin: 0;
  }
}

.skills {
  height: auto;
  background-color: #f8f8f8;
}

.skills .wrapper {
  padding: 0 130px 100px 130px;
  padding-top: 300px;
  height: 100%;
  -webkit-transition: padding-top 2s;
  transition: padding-top 2s;
}

@media (max-width: 1250px) {
  .skills .wrapper {
    padding: 300px 100px 100px 100px;
  }
}

@media (max-width: 960px) {
  .skills .wrapper {
    padding: 200px 80px 100px 80px;
  }
}

@media (max-width: 690px) {
  .skills .wrapper {
    padding: 200px 60px 100px 60px;
  }
}

@media (max-width: 480px) {
  .skills .wrapper {
    padding: 200px 30px 100px 30px;
  }
}

.skills ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.skills ul li {
  margin: 0 auto;
  min-width: 200px;
  width: 25%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 960px) {
  .skills ul li {
    margin-bottom: 80px;
    width: 20%;
    min-width: 160px;
  }
}

@media (max-width: 690px) {
  .skills ul li {
    margin-bottom: 80px;
    width: 20%;
    min-width: 120px;
  }
}

@media (max-width: 480px) {
  .skills ul li {
    width: 15%;
    min-width: 80px;
  }
}

.skills ul li ion-icon {
  font-size: 8rem;
  color: #878787;
}

@media (max-width: 480px) {
  .skills ul li ion-icon {
    font-size: 6rem;
  }
}

.skills ul li img {
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 80px;
  width: 20%;
  padding: 0;
}

@media (max-width: 480px) {
  .skills ul li img {
    min-width: 50px;
    min-height: 60px;
  }
}

.skills ul li h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #878787;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

@media (max-width: 480px) {
  .skills ul li h3 {
    font-size: 1.6rem;
  }
}

.skillsTitle {
  width: 100%;
  padding: 40px;
}

.skillsTitle h2 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.wrapper.skills.expand {
  padding-top: 0;
}

.projects {
  position: relative;
  height: auto;
  background-image: url(../assets/projects/strip.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
  -webkit-box-shadow: 0px 5px 20px black inset;
          box-shadow: 0px 5px 20px black inset;
}

@media (min-width: 1600px) {
  .projects {
    background-repeat: repeat;
  }
}

.projects .splashTitle {
  top: 10px;
  left: 80px;
  opacity: 0.85;
}

@media (max-width: 1250px) {
  .projects .splashTitle {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (max-width: 1250px) {
  .projects .splashTitle h1 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .projects .splashTitle h1 {
    font-size: 6rem;
  }
}

.wrapper.projects {
  padding: 100px 80px;
  height: 100%;
}

@media (max-width: 960px) {
  .wrapper.projects {
    padding: 70px 80px;
  }
}

@media (max-width: 480px) {
  .wrapper.projects {
    padding: 20px;
  }
}

.projectContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 300px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.projectContainer.expand {
  margin-top: 130px;
}

@media (max-width: 960px) {
  .projectContainer.expand {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .projectContainer.expand {
    margin-top: 20px;
  }
}

.project {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

@media (max-width: 690px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 150px;
  }
}

.project .projectImage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 6000;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px 1px black;
          box-shadow: 2px 2px 10px 1px black;
  background-color: #f8f8f8;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1250px) {
  .project .projectImage {
    min-width: 100px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

@media (max-width: 960px) {
  .project .projectImage {
    display: none;
  }
}

.project .projectImage:hover, .project .projectImage:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project .projectImage .picture {
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 100%;
  height: 100%;
  border: 5px solid #f8f8f8;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 5000;
}

@media (max-width: 1250px) {
  .project .projectImage .picture {
    height: 25%;
  }
}

@media (max-width: 960px) {
  .project .projectImage .picture {
    display: none;
  }
}

.project .projectInfo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: auto;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  z-index: 2000;
  background: -webkit-gradient(linear, left top, right top, from(#2121214d), color-stop(#2121214f), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #2121214d, #2121214f, rgba(255, 255, 255, 0));
}

@media (max-width: 960px) {
  .project .projectInfo {
    width: 100%;
    padding: 4%;
  }
}

@media (max-width: 690px) {
  .project .projectInfo {
    width: 100%;
    padding: 1%;
    background: -webkit-gradient(linear, left top, left bottom, from(#2121214d), color-stop(#2121214f), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(#2121214d, #2121214f, rgba(255, 255, 255, 0));
  }
}

.project .projectInfo .infoBar {
  height: 4px;
  width: 100%;
  background-color: #f8f8f8;
  -webkit-box-shadow: 2px 2px 10px 1px black;
          box-shadow: 2px 2px 10px 1px black;
  position: absolute;
}

.project .projectInfo .infoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 960px) {
  .project .projectInfo .infoTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.project .projectInfo .infoTitle .title {
  width: 60%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #e7e7e7;
  letter-spacing: 1.5;
  line-height: normal;
  text-align: left;
}

@media (max-width: 960px) {
  .project .projectInfo .infoTitle .title {
    margin: 30px 0 0 0;
    width: 100%;
  }
}

.project .projectInfo .infoTitle .title:hover, .project .projectInfo .infoTitle .title:focus {
  color: #b3fcff;
  text-decoration: underline;
}

@media (max-width: 690px) {
  .project .projectInfo .infoTitle .title h3 {
    width: 100%;
    text-align: center;
  }
}

.project .projectInfo .infoTitle .skillWrapper {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 960px) {
  .project .projectInfo .infoTitle .skillWrapper {
    width: 100%;
  }
}

.project .projectInfo .infoTitle .skillWrapper .skillContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 960px) {
  .project .projectInfo .infoTitle .skillWrapper .skillContainer {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 690px) {
  .project .projectInfo .infoTitle .skillWrapper .skillContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
}

.project .projectInfo .infoTitle .skillWrapper .skillContainer .skill {
  width: 75px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.project .projectInfo .infoTitle .skillWrapper .skillContainer .skill ion-icon {
  width: 100%;
  height: 40px;
  color: #dcdcdc;
  font-size: 5.1rem;
}

.project .projectInfo .infoTitle .skillWrapper .skillContainer .skill img {
  border: none;
  width: 35px;
  height: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project .projectInfo .infoTitle .skillWrapper .skillContainer .skill h4 {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.project .projectInfo .infoTitle .skillWrapper .skillContainer .skill:first-of-type {
  margin-left: 0;
}

@media (max-width: 690px) {
  .project .projectInfo .infoTitle .skillWrapper .skillContainer .skill:first-of-type {
    margin-left: 10px;
  }
}

.project .projectInfo .infoContent {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 690px) {
  .project .projectInfo .infoContent {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 100%;
  }
}

.project .projectInfo .infoContent p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Domine', serif;
  font-size: 2rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 690px) {
  .project .projectInfo .infoContent p {
    height: auto;
    width: 100%;
    padding: 5%;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .project .projectInfo .infoContent p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.project .projectInfo .infoContent a {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 2.7rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

@media (max-width: 690px) {
  .project .projectInfo .infoContent a {
    text-align: center;
  }
}

.project .projectInfo .infoContent a:hover, .project .projectInfo .infoContent a:focus {
  color: #b3fcff;
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

.project .projectInfo .infoContent a ion-icon {
  font-size: 5rem;
  position: relative;
  top: 15px;
}

.project .projectInfo .infoContent a span {
  text-decoration: underline;
}

@media (max-width: 690px) {
  .project .projectInfo .infoContent a span {
    margin-top: 20px;
    display: inline-block;
  }
}

.projectInfo.alt {
  padding-left: 50px;
  height: auto;
  background: -webkit-gradient(linear, right top, left top, from(#2121214d), color-stop(#2121214f), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #2121214d, #2121214f, rgba(255, 255, 255, 0));
}

@media (max-width: 960px) {
  .projectInfo.alt {
    padding: 4%;
  }
}

@media (max-width: 690px) {
  .projectInfo.alt {
    padding: 1%;
    background: -webkit-gradient(linear, left top, left bottom, from(#2121214d), color-stop(#2121214f), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(#2121214d, #2121214f, rgba(255, 255, 255, 0));
  }
}

.infoBar.top {
  top: 0;
  left: 0;
}

.infoBar.bottom {
  bottom: 0;
  left: 0;
}

.education {
  height: auto;
  background-color: #212121;
}

.wrapper.education {
  width: 100%;
  height: auto;
  padding: 5% 180px;
}

@media (max-width: 960px) {
  .wrapper.education {
    padding: 2% 80px;
  }
}

.eduBoxContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  .eduBoxContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.eduBoxContainer .eduBox {
  height: 150px;
}

@media (max-width: 960px) {
  .eduBoxContainer .eduBox {
    margin: 15px 0;
  }
}

.eduBoxContainer .eduBox img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

@media (max-width: 690px) {
  .edu2 {
    height: 200px;
  }
}

.blog {
  height: auto;
}

.wrapper.blog {
  padding: 40px 80px 60px;
}

@media (max-width: 690px) {
  .wrapper.blog {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .wrapper.blog {
    padding: 0;
  }
}

.blogTitle {
  width: 100%;
}

.blogTitle h2 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.blogContentContainer {
  margin-top: 50px;
  width: 100%;
}

.blogContentContainer ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogContentContainer ul li {
  background-color: #f8f8f8;
  margin: 80px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

@media (max-width: 960px) {
  .blogContentContainer ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.blogImage {
  width: 40%;
}

@media (max-width: 1250px) {
  .blogImage {
    height: 250px;
  }
}

@media (max-width: 960px) {
  .blogImage {
    width: 100%;
    height: 50%;
    padding: 5%;
  }
}

.blogImage img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 960px) {
  .blogImage img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.blogContent {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  padding-left: 40px;
  padding-right: 40px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 960px) {
  .blogContent {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    height: auto;
    width: 100%;
    padding-bottom: 40px;
  }
}

.blogContent h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  .blogContent h3 {
    padding-top: 20px;
  }
}

.blogContent p {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Domine', serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #6e6e6e;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

.blogContent a {
  margin-top: 20px;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogContent a:hover, .blogContent a:focus {
  -webkit-text-decoration: underline double;
          text-decoration: underline double;
}

.blogContent a h4 {
  font-weight: normal;
  text-decoration: underline;
}

.blogContent a ion-icon {
  font-size: 3.2rem;
  margin-left: 10px;
}

.blogBar {
  height: 4px;
  border-radius: 3px;
  width: 0;
  background-color: #545454;
  -webkit-transition: width 3s;
  transition: width 3s;
}

.blogBar.expand {
  width: 100%;
}

.contact {
  width: 100%;
  height: auto;
  background-color: #212121;
  position: relative;
}

.wrapper.contact {
  width: 100%;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 960px) {
  .wrapper.contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .wrapper.contact {
    padding: 40px;
  }
}

.contactLogoContainer {
  display: none;
}

@media (max-width: 960px) {
  .contactLogoContainer {
    display: static;
  }
}

.container {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.container h3,
.container h4 {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.container ul {
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 960px) {
  .container ul {
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }
}

.container ul li {
  margin-top: 15px;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 960px) {
  .container ul li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container ul li a {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: inline-block;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 960px) {
  .container ul li a {
    text-align: center;
  }
}

.container ul li a:hover, .container ul li a:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.container ul li button:not(.resume) {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 960px) {
  .container ul li button:not(.resume) {
    text-align: center;
  }
}

.container ul li button:not(.resume):hover, .container ul li button:not(.resume):focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.contactContainer ul {
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.contactContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: center;
}

.contactContainer ul li h3 {
  font-size: 2.5rem;
}

.contactContainer ul li h4 {
  font-size: 2rem;
}

.contactContainer ul li button:not(.resume) {
  color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactContainer ul li button:not(.resume):focus ion-icon,
.contactContainer ul li button:not(.resume):hover ion-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.contactContainer ul li button:not(.resume) ion-icon {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin-right: 10px;
  color: #f8f8f8;
}

.contactContainer ul li button:not(.resume) h5 {
  display: inline-block;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: center;
}

.contact textarea {
  position: absolute;
  left: -2000px;
}

.mssg {
  height: 40px;
  display: block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.mssg.expand {
  -webkit-transform: scale(1);
          transform: scale(1);
}

form {
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 960px) {
  form {
    margin: 20px 15%;
  }
}

@media (max-width: 690px) {
  form {
    margin: 20px 5%;
  }
}

@media (max-width: 480px) {
  form {
    margin: 0;
  }
}

form label {
  color: #212121;
  position: absolute;
  bottom: -50px;
}

form input {
  height: 40px;
  padding-left: 45px;
  border: 2px solid #f8f8f8;
  font-size: 1.5rem;
}

form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

form input:-ms-input-placeholder {
  color: #9c9c9c;
}

form input::-ms-input-placeholder {
  color: #9c9c9c;
}

form input::placeholder {
  color: #9c9c9c;
}

form ion-icon {
  font-size: 3rem;
  position: absolute;
  color: #212121;
  bottom: 44px;
  left: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

form button.resume {
  height: 40px;
  border: 2px solid #f8f8f8;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

form button.resume:hover, form button.resume:focus {
  background-color: #f8f8f8;
  color: #212121;
  border-top: 2px solid #212121;
}

form ion-icon.expand {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
}

button:hover, button:focus {
  background-color: rgba(255, 255, 255, 0.02);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

a:focus, a:hover {
  outline: 0;
}

.scrollTop {
  height: 80px;
  width: 60px;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 7000;
  visibility: hidden;
  opacity: 0.8;
}

@media (max-width: 480px) {
  .scrollTop {
    display: none;
  }
}

.scrollTop button {
  padding: 5%;
}

.scrollTop button ion-icon {
  color: #f8f8f8;
  font-size: 1.8rem;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.scrollTop button h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  padding: 2%;
}

.scrollTop button:hover ion-icon,
.scrollTop button:focus ion-icon {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}
