@import url("https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:700|Oswald&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.mainLogo {
  height: 150px;
  width: 100%;
  position: absolute;
}

.mainLogo button:hover .bar,
.mainLogo button:focus .bar {
  background: #878787;
}

.mainLogo button:hover .logo1,
.mainLogo button:focus .logo1 {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mainLogo .logo1 {
  position: relative;
  display: inline-block;
  height: 180px;
  width: 230px;
  z-index: 5000;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.mainLogo .logo2 {
  position: absolute;
  top: 0;
  height: 180px;
  width: 230px;
  z-index: 6000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.mainLogo .logo3 {
  position: absolute;
  top: 0;
  height: 180px;
  width: 230px;
  z-index: 7000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.mainLogo .bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainLogo .bar {
  position: relative;
  top: -18px;
  display: inline-block;
  width: 0;
  height: 5px;
  background: #3b3b3b;
  -webkit-transition: width 2s;
  transition: width 2s;
  border-radius: 5px;
}

.mainLogo span {
  position: absolute;
  opacity: 0;
}

.logo2.expand {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo3.expand {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bar.expand {
  width: 100%;
}

.bar.expand:not(.quoteBar) {
  margin-left: 5px;
}

.quoteLogoContainer {
  width: 100%;
  height: 50%;
  position: relative;
}

.quoteLogoContainer .mainLogo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.quoteLogoContainer .mainLogo .logo .logo1 {
  height: 100px;
  width: 130px;
}

.quoteLogoContainer .mainLogo .logo .logo2 {
  height: 100px;
  width: 130px;
}

.quoteLogoContainer .mainLogo .logo .logo3 {
  height: 100px;
  width: 130px;
}

.quoteLogoContainer .bars {
  width: 100%;
}

.bar.quoteBar {
  width: 0;
  background: #dcdcdc;
  height: 2.5px;
  border-radius: 2.5px;
  top: 0px;
}

.bar.quoteBar.expand {
  width: 100%;
}

nav {
  height: calc(100vh);
  background-color: #dcdcdc;
  background-image: url(../assets/nav/ME19.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.nav.wrapper {
  padding: 20px 80px;
  height: 100%;
}

.navMenuLogo {
  position: relative;
  height: 200px;
  width: 100%;
  padding-top: 30px;
}

.navMenu {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navMenu .menu {
  text-align: right;
  height: 100%;
}

.navMenu .menu button.dropMenu {
  position: relative;
  height: auto;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.navMenu .menu button.dropMenu:hover ion-icon,
.navMenu .menu button.dropMenu:focus ion-icon {
  color: #878787;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navMenu .menu button.dropMenu ion-icon {
  font-size: 10rem;
  color: #191919;
  padding: 0;
  margin-right: -12px;
  margin-top: -12px;
  -webkit-transition: margin-right 0.5s, -webkit-transform 1s;
  transition: margin-right 0.5s, -webkit-transform 1s;
  transition: transform 1s, margin-right 0.5s;
  transition: transform 1s, margin-right 0.5s, -webkit-transform 1s;
}

.navMenu .menu .dropMenu.expand {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navMenu .menu .drop {
  position: absolute;
  width: 200px;
  right: 0;
  top: 170px;
  z-index: 1000;
}

.navMenu .menu .drop button {
  font-family: 'Domine', serif;
  font-size: 1.9rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0);
  letter-spacing: normal;
  line-height: 2.2;
  text-align: right;
  text-transform: capitalize;
  -webkit-transition: color 1.5s, margin-right 0.5s, -webkit-transform 0.5s;
  transition: color 1.5s, margin-right 0.5s, -webkit-transform 0.5s;
  transition: color 1.5s, transform 0.5s, margin-right 0.5s;
  transition: color 1.5s, transform 0.5s, margin-right 0.5s, -webkit-transform 0.5s;
}

.navMenu .menu .drop.expand li button {
  color: #191919;
}

.navMenu .menu .drop.expand li button:hover, .navMenu .menu .drop.expand li button:focus {
  color: #878787;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 8px;
}

.dropBar {
  position: relative;
  width: 0;
  height: 5px;
  background: #3b3b3b;
  -webkit-transition: width 2s;
  transition: width 2s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dropBar.expand {
  width: 100%;
}

.navTitle {
  height: calc(100% - 230px);
  position: relative;
  z-index: 500;
}

.navTitle::before,
.navTitle .title {
  display: inline-block;
  vertical-align: middle;
}

.navTitle::before {
  content: "";
  width: 0;
  height: 100%;
}

.title h1 {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  margin-left: -1px;
}

.title h1 span.pos1 {
  display: block;
  font-size: 8rem;
  color: #5d5d5d;
}

.title h1 span.pos2 {
  display: block;
  font-size: 8rem;
  color: #5d5d5d;
}

.navSocial {
  position: absolute;
  bottom: 100px;
  z-index: 1500;
}

.navSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navSocial ul li {
  margin-right: 30px;
  padding-top: 80px;
}

.navSocial ul li ion-icon {
  font-size: 3rem;
  color: #191919;
  -webkit-transition: color 1s, -webkit-transform 1.5s;
  transition: color 1s, -webkit-transform 1.5s;
  transition: transform 1.5s, color 1s;
  transition: transform 1.5s, color 1s, -webkit-transform 1.5s;
  border: 1px solid rgba(255, 255, 255, 0);
}

.navSocial ul li a:focus ion-icon,
.navSocial ul li a:hover ion-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #878787;
}

section.overview {
  height: auto;
  -webkit-transition: margin-top 1.5s;
  transition: margin-top 1.5s;
  margin-bottom: 100px;
}

.wrapper.overview {
  padding: 0 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.overview.expand {
  margin-top: -100px;
}

.overGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.overGallery.gallery2 {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 130px;
}

.overGallery .gallery {
  width: 500px;
  height: 500px;
  padding: 20px;
  padding: 20px;
}

.overGallery .gallery .box {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.overGallery .gallery button {
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.overGallery .gallery button:hover, .overGallery .gallery button:focus {
  border-bottom: 2px solid #212121;
}

.overGallery .gallery button h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.gallery.pic1 {
  height: 400px;
}

.gallery.pic2 {
  margin-top: 70px;
}

.gallery.pic2 .galleryBar {
  margin: 0;
  height: 5px;
  width: 0;
  background: #3b3b3b;
  border-radius: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.gallery.pic2 .galleryBar.expand {
  width: 100%;
}

.splashTitle {
  position: absolute;
  top: 550px;
  left: 0;
  z-index: 0;
}

.splashTitle h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.quote {
  background-color: #212121;
  height: auto;
  min-height: 400px;
  margin-top: 200px;
}

.wrapper.quote {
  padding: 80px 80px;
  height: auto;
  width: 100%;
}

.quoteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quotePhoto {
  width: 400px;
  height: auto;
}

.quotePhoto img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.quoteContentContainer {
  width: 100%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.quoteContentContainer .quoteContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quoteContentContainer .quoteContent .quotePara {
  width: auto;
  padding: 5px;
  font-family: 'Domine', serif;
  font-size: 2rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: 1.6;
  text-align: center;
}

.quoteContentContainer .quoteContent .quotation {
  width: 20px;
  position: relative;
}

.quoteContentContainer .quoteContent .quotation img {
  -o-object-fit: contain;
     object-fit: contain;
}

.quoteContentContainer h4 {
  font-family: 'Domine', serif;
  font-size: 1.4rem;
  font-weight: normal;
  color: #e7e7e7;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-top: 10px;
}

.quotation.open {
  top: -10px;
}

.quotation.close {
  bottom: -30px;
}

.about {
  height: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#9c9e9f00), color-stop(50%, #9c9e9f00), color-stop(50%, #E7E7E7), to(#E7E7E7));
  background-image: linear-gradient(to right, #9c9e9f00 0%, #9c9e9f00 50%, #E7E7E7 50%, #E7E7E7 100%);
}

.wrapper.about {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.about article,
.about aside {
  width: 50%;
  height: auto;
}

.about aside {
  background-image: url(../assets/about/about.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #e7e7e7;
}

.about article {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
}

.about article .aboutTitle {
  min-width: 100%;
  padding: 40px;
}

.about article .aboutTitle h2 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.wrapper.aboutContent {
  max-width: 800px;
  padding-left: 80px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutTeam {
  width: 100%;
  height: auto;
}

.aboutQuality,
.aboutDocs {
  height: auto;
  width: 100%;
}

.aboutRest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.aboutSection h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.aboutSection p {
  font-family: 'Domine', serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #6e6e6e;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
  padding-right: 40px;
}

.skills {
  height: auto;
  background-color: #f8f8f8;
}

.skills .wrapper {
  padding: 0 180px 150px 180px;
  padding-top: 300px;
  height: 100%;
  -webkit-transition: padding-top 2s;
  transition: padding-top 2s;
}

.skills ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.skills ul li {
  margin: 0 auto;
  min-width: 200px;
  width: 25%;
  text-align: center;
  margin-bottom: 100px;
}

.skills ul li ion-icon {
  font-size: 8rem;
  color: #878787;
}

.skills ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 80px;
  width: 20%;
  padding: 0;
  margin: 0;
}

.skills ul li h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #878787;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.skillsTitle {
  width: 100%;
  padding: 40px;
}

.skillsTitle h2 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.wrapper.skills.expand {
  padding-top: 0;
}

.projects {
  position: relative;
  height: auto;
  background-image: url(../assets/projects/strip.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 5px 20px black inset;
          box-shadow: 0px 5px 20px black inset;
}

.projects .splashTitle {
  top: 10px;
  left: 0;
  opacity: 0.7;
}

.wrapper.projects {
  padding: 150px 80px 100px;
  height: 100%;
}

.projectGallery {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 300px;
  -webkit-transition: margin-top 2s;
  transition: margin-top 2s;
}

.projectGallery.expand {
  margin-top: 100px;
}

.projectGallery .galleryPic:nth-child(3),
.projectGallery .galleryPic:nth-child(4) {
  margin-top: 8%;
}

.projectDetails {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fcfcfc00;
  z-index: 1000;
  top: -40px;
  left: -40px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.projectDetails .underline {
  margin-top: 40px;
  height: 4px;
  background-color: #6e6e6e;
  width: 0;
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
}

.projectDetails ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10%;
  margin-top: 20px;
}

.projectDetails ul li {
  width: 25%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.projectDetails ul li ion-icon {
  width: 40px;
  height: 40px;
  color: #a1a1a1;
  font-size: 5.1rem;
}

.projectDetails ul li img {
  border: none;
  width: 35px;
  height: 35px;
}

.projectDetails ul li h4 {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: #6e6e6e;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.galleryPic {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  width: 28%;
  background-color: #f8f8f8;
  -webkit-box-shadow: 2px 2px 10px 1px black;
          box-shadow: 2px 2px 10px 1px black;
  z-index: 2000;
}

.galleryPic a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.galleryPic a:hover img,
.galleryPic a:focus img {
  opacity: 0.25;
}

.galleryPic a:hover h3,
.galleryPic a:focus h3 {
  color: #6e6e6e;
}

.galleryPic a:hover .projectDetails,
.galleryPic a:focus .projectDetails {
  z-index: 1000;
  background-color: #fcfcfcf1;
}

.galleryPic a:hover .projectDetails .underline,
.galleryPic a:focus .projectDetails .underline {
  width: 100%;
}

.galleryPic a img {
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  border: 5px solid #7f6b53;
}

.galleryPic a h3 {
  -webkit-transition: color 1.5s;
  transition: color 1.5s;
  text-transform: uppercase;
  position: absolute;
  top: -40px;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #e7e7e7;
  letter-spacing: 1.5;
  line-height: normal;
  text-align: left;
  z-index: 6000;
}

.projects .bar.projectBar {
  height: 5px;
  width: 0;
  margin: 0;
  background-color: #7f6b53;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.projects .bar.projectBar.expand {
  width: 100%;
}

.education {
  height: auto;
  background-color: #212121;
}

.wrapper.education {
  width: 100%;
  height: auto;
  padding: 5% 180px;
}

.eduBoxContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.eduBoxContainer .eduBox {
  height: 150px;
}

.eduBoxContainer .eduBox img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.eduBox:nth-child(2) {
  margin: 0 60px;
}

.blog {
  height: auto;
}

.wrapper.blog {
  padding: 40px 80px 60px;
}

.blogTitle {
  width: 100%;
}

.blogTitle h2 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: normal;
  color: #191919;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.blogContentContainer {
  margin-top: 50px;
  width: 100%;
}

.blogContentContainer ul {
  height: 100%;
  width: 100%;
}

.blogContentContainer ul li {
  background-color: #f8f8f8;
  margin: 80px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.blogImage {
  width: 40%;
}

.blogImage img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blogContent {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
  padding-left: 40px;
  padding-right: 40px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blogContent h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.blogContent p {
  margin-top: 40px;
  font-family: 'Domine', serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #6e6e6e;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

.blogContent a {
  margin-top: 10px;
  display: block;
  width: 70px;
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #212121;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  background-color: none;
}

.blogContent a:hover, .blogContent a:focus {
  border-bottom: 2px solid #212121;
}

.blogContent a h4 {
  font-weight: normal;
}

.blogBar {
  height: 4px;
  border-radius: 3px;
  width: 0;
  background-color: #545454;
  -webkit-transition: width 3s;
  transition: width 3s;
}

.blogBar.expand {
  width: 100%;
}

.contact {
  width: 100%;
  height: 400px;
  background-color: #212121;
}

.wrapper.contact {
  width: 100%;
  padding: 60px 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h3 {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.container ul {
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 2%;
  font-family: 'Domine', serif;
  font-size: 1.8rem;
  font-weight: normal;
  color: #f8f8f8;
  letter-spacing: 1.5;
  line-height: 1.6;
  text-align: left;
}

.container ul li {
  margin-top: 10px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
}

button:hover, button:focus {
  background-color: rgba(255, 255, 255, 0.02);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

a:focus, a:hover {
  outline: 0;
}
